div.justified {
    margin: 45px 0 auto;
    display: flex;
    justify-content: center;
}
div.dropdowns {
    display: block;
    margin: 15px 0 auto;
    text-align: center;
}

button {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}